<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h2>E-commerce</h2>
            <p>Our purpose is to sustainably make the pleasure and benefits of various accessories to many.</p>
        </div>
        <div class="footer-section">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">Coupans</a></li>
                <li><a href="#">Blog Products</a></li>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Join Affiliate</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Follow us</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright &#64;2025 | E-commerce</p>
    </div>
</footer>